/*
0 - 600px:      Phone
600px - 900px:  Tablet Portrait
900px - 1200px:  Tablet Landscape
{1200px - 1800px} is where our normal styles applies.
1800px+:        Big Desktop
*/
/* $breakpoint Argument Choices:
-phone
-tab-port
-tab-land
-big desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-family: "Scream Real";
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1rem;
  animation: moveInLeft 2s ease-in-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 1rem;
  }
}
@media (max-width: 400px) {
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  display: block;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1rem;
  animation: moveInRight 2s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 0.7rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #9A95CA, #1e212f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(28, 28, 31, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.17;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(28, 28, 31, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(28, 28, 31, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--dark {
  background-color: rgb(28, 28, 31);
  color: #f7f7f7;
}
.btn--purple {
  background-image: linear-gradient(to right, #9bbcc4, #6C65A4);
  color: #f7f7f7;
}
.btn--purple::after {
  background-image: linear-gradient(to right, #9bbcc4, #6C65A4);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #6C65A4;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #6C65A4;
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #6C65A4;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem rgba(28, 28, 31, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(28, 28, 31, 0.2);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-4.jpg);
  background-size: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 4rem rgba(28, 28, 31, 0.2);
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(/img/nat-4.jpg);
    background-size: cover;
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  color: inherit;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1.5rem 2rem rgba(28, 28, 31, 0.2);
  border-bottom: 0.3rem solid #6C65A4;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid orangered;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #6C65A4;
  border-radius: 50%;
  margin-top: -0.4rem;
  position: absolute;
  top: 0;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #6C65A4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  height: 50rem;
  position: relative;
}
.card__side {
  font-size: 1.6rem;
  color: #777;
  height: 50rem;
  border-radius: 4rem;
  box-shadow: 0 1.5rem 4rem rgba(28, 28, 31, 0.2);
  backface-visibility: hidden;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background-color: #9A95CA;
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #5f564d, #080705);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #74573b, #32332e);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #9bbcc4, #1e212f);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  border-bottom-left-radius: 4rem;
  height: 50rem;
  background-blend-mode: hue;
  object-fit: contain;
  width: 100%;
}
.card__picture--main {
  height: 34rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 26% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 26% 100%);
}
.card__picture--main-1 {
  background-image: url(/img/nat-5b.jpg);
}
.card__picture--main-2 {
  background-image: url(/img/nat-6b.jpg);
}
.card__picture--main-3 {
  background-image: url(/img/nat-7b.jpeg);
}
.card__picture--mask {
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.card__picture--mask-1 {
  background-image: url(/img/nat-5b.jpg);
}
.card__picture--mask-2 {
  background-image: url(/img/nat-6b.jpg);
}
.card__picture--mask-3 {
  background-image: url(/img/nat-7b.jpeg);
}
.card__mask {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  background-color: #fff;
  z-index: 3;
}
.card__text {
  border-top-right-radius: 4rem;
  height: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;
  width: 100%;
  padding: 2rem 3rem;
  text-wrap: wrap;
}
.card__text::after {
  content: "";
  display: table;
  clear: both;
}
.card__text--heading {
  color: rgb(28, 28, 31);
  font-size: 2.2rem;
  float: left;
}
.card__text--rating {
  float: right;
  margin: 1rem 0;
  font-size: 1.5rem;
  margin: 0.7rem 0.1rem;
}
.card__text--rating .rating-score {
  display: inline-block;
  font-weight: 700;
}
.card__text--location {
  display: inline-block;
  padding: 1rem 0 3rem 0;
  width: 100%;
}
.card__text--pricing {
  position: relative;
}
.card__text--pricing--price {
  color: rgb(28, 28, 31);
  display: inline-block;
  font-size: 2rem;
}
.card__text--pricing--paragraph {
  display: inline-block;
}
.card__button {
  display: none;
  position: absolute;
  top: 0;
  right: -0.8rem;
}
.card__button .button__popup {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 8rem;
}
.card__price-only {
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 500;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
  }
  .card__side {
    height: auto;
    position: relative;
    border-radius: 4rem;
  }
  .card__side--front {
    background-color: #fff;
  }
  .card__side--back {
    transform: rotateY(0deg);
  }
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
  .card__button {
    display: inline-block;
  }
}

.companies {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 3rem 6rem rgba(28, 28, 31, 0.1);
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  outline-offset: 2rem;
}
.companies__logo-box {
  max-width: 100%;
  height: 6rem;
  padding: 0.85rem 0;
  position: relative;
  text-align: center;
  background-blend-mode: hue;
}
.companies__logo-box .img-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65%;
  filter: grayscale(120) brightness(80%);
  transform: translate(-50%, -50%);
}
.companies:hover {
  outline: 1rem solid #9A95CA;
  transform: scale(1.05) translateY(-0.5rem);
}
@media (max-width: 37.5em) {
  .companies:hover {
    outline: none;
  }
}
.companies:hover .img-fluid {
  filter: none;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(28, 28, 31, 0.4);
  border-radius: 0.8rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 30.3333%;
    box-shadow: 0 1.5rem 3rem rgba(28, 28, 31, 0.2);
    margin: 0 0.5rem;
  }
}
.composition__photo--p1 {
  left: 4rem;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    left: 0;
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    right: 0;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 0;
    left: 0;
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #9A95CA;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(28, 28, 31, 0.5);
  z-index: 20;
}
@media (max-width: 56.25em) {
  .composition__photo:hover {
    outline: none;
    box-shadow: 0 1rem 3rem rgba(28, 28, 31, 0.2);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(28, 28, 31, 0.4);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
  height: 30rem;
}
.feature-box:hover {
  transform: translateY(-2rem) scale(1.03);
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #9A95CA, #363268);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fas {
  color: #f7f7f7;
  padding-right: 1rem;
}

.fa-star {
  display: inline-block;
  color: goldenrod;
}

.fa-location-dot {
  color: rgb(255, 123, 0);
  box-shadow: 0 1.5rem 4rem rgba(28, 28, 31, 0.2);
  padding-right: 1rem;
  float: left;
  font-size: 1.7rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.fa-marker {
  color: #f7f7f7;
}

.footer__links:hover, .footer__links:hover .fa-hotel, .footer__links:hover .fa-globe, .footer__links:hover .fa-cab, .footer__links:hover .fa-plane, .footer__links:hover .fa-marker {
  color: #9A95CA;
}

.fa-close {
  color: #999;
}
.fa-close:hover {
  color: #6C65A4;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3500;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 31, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  transition: all 0.2s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  border-radius: 4rem;
  background-color: #fff;
  transition: all 0.5s 0.2s;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
}
@media (max-width: 56.25em) {
  .popup__content {
    text-align: center;
  }
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
  row-gap: 8rem;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  .popup__left {
    display: none;
  }
}
.popup__img {
  width: 100%;
  display: inline-block;
  border-radius: 2rem;
  box-shadow: 0 1rem 4rem rgba(28, 28, 31, 0.1);
}
.popup__img:not(:last-child) {
  margin-bottom: 3rem;
}
.popup__right {
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__paragraph {
  font-size: 1.6rem;
  margin: 2rem 0 4rem 0;
  column-count: 2;
  column-rule: 0.1rem solid #eee;
  column-gap: 3rem;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 56.25em) {
  .popup__paragraph {
    column-count: 1;
    column-rule: none;
    column-gap: 0;
  }
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.footer_social-media {
  display: inline-block;
}

.contact-icon {
  display: flex;
  margin-top: 2rem;
  grid-gap: 1rem;
  text-align: end;
}
.contact-icon .icon {
  display: flex;
  align-items: center;
  color: rgb(28, 28, 31);
  background-color: #fff;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transition: all 0.4s;
  text-decoration: none;
}
.contact-icon .icon i {
  font-size: 2.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.contact-icon .icon:hover {
  background-color: #363268;
}
.contact-icon .icon:hover i {
  color: #fff;
}

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(28, 28, 31, 0.1);
  border-radius: 0.8rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  position: relative;
  transition: all 0.5s;
}
@media (max-width: 56.25em) {
  .story__shape {
    float: none;
    transform: translateX(0);
    margin: 0 auto;
  }
}
.story__image {
  height: 100%;
  transform: scale(2);
  transition: all 0.5s;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}
.story:hover .story__image {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story__text {
  text-align: center;
  margin-top: 2rem;
}

.wavy-band {
  position: absolute;
  bottom: -5rem;
}
.wavy-band--attributes {
  fill: #f7f7f7;
}

.footer__newsletter {
  height: auto;
}
.footer__newsletter::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 56.25em) {
  .footer__newsletter {
    width: 100%;
    text-align: center;
  }
}
.footer__newsletter .newsletter {
  display: table;
  display: block;
}
.footer__newsletter .newsletter__text {
  background-color: rgb(28, 28, 31);
  width: 40%;
  padding: 3rem 10rem;
  float: left;
  display: table-cell;
}
@media (max-width: 56.25em) {
  .footer__newsletter .newsletter__text {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
  }
}
.footer__newsletter .newsletter__paragraph {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.footer__newsletter .newsletter__heading {
  color: #fff;
  transform: none;
}
.footer__newsletter .newsletter__form {
  background-color: #232225;
  width: 60%;
  padding: 4.5rem 10rem;
  text-align: center;
  float: right;
  display: table-cell;
}
@media (max-width: 56.25em) {
  .footer__newsletter .newsletter__form {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    padding: 4.5rem 2rem;
  }
}
.footer__newsletter .newsletter__form .form__suscribe {
  background-color: #fff;
  border-radius: 10rem;
}
.footer__newsletter .newsletter__form--container {
  position: relative;
  display: flex !important;
}
.footer__newsletter .newsletter__form--input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: transparent;
  border-radius: 10rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  color: inherit;
  transition: all 0.3s;
}
.footer__newsletter .newsletter__form--input:focus {
  outline: none;
  box-shadow: 0 1.5rem 2rem rgba(28, 28, 31, 0.2);
}
.footer__newsletter .newsletter__form--label {
  display: none;
}
.footer__newsletter .newsletter__button {
  display: inline-block;
  padding: 0.2rem 0.1rem;
}
.footer__newsletter .newsletter__button .submit {
  box-shadow: none;
}
.footer__newsletter .newsletter__button .submit:hover, .footer__newsletter .newsletter__button .submit:active {
  transform: translateY(0);
}
.footer__sub {
  padding: 10rem 0rem 4rem;
}
.footer__heading {
  color: #f7f7f7;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.footer__list {
  list-style: none;
  gap: 6rem;
}
.footer__list:hover {
  color: #9A95CA;
}
.footer__list--items {
  font-size: 1.6rem;
  line-height: 5rem;
  width: max-content;
}
.footer__list--items:hover {
  color: #9A95CA;
}
.footer__links {
  text-decoration: none;
  color: #f7f7f7;
}
.footer__logo-info {
  margin-left: 10rem;
  text-align: end;
}
@media (max-width: 56.25em) {
  .footer__logo-info {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
.footer__logo-box {
  text-align: end;
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  .footer__logo-box {
    text-align: center;
  }
}
.footer__logo {
  width: auto;
  height: 20rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 70rem;
    padding: 0 5rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
  margin-bottom: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}
.row .col-1-of-6 {
  width: calc((100% - 5 * 6rem) / 6);
}

.header {
  height: 60rem;
  margin-bottom: 8rem;
  background-image: linear-gradient(to right bottom, rgba(155, 188, 196, 0.8), rgba(30, 33, 47, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@media (max-width: 56.25em) {
  .header {
    margin-bottom: 2rem;
  }
}
.header__logo-box {
  position: absolute;
  top: 4.5rem;
  left: 4.5rem;
}
.header__logo {
  height: 7rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(28, 28, 31, 0.15);
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 2000;
  cursor: pointer;
  outline-offset: 2rem;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 5rem;
    right: 5rem;
  }
}
.navigation__button:hover {
  outline: 1rem solid #9A95CA;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#1e212f, #9bbcc4);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 5rem;
    right: 5rem;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 5.5rem;
    right: 5.5rem;
  }
}
.navigation__nav {
  opacity: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}
@media (max-width: 56.25em) {
  .navigation__nav {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%;
}
@media (max-width: 56.25em) {
  .navigation__list {
    top: 35%;
  }
}
.navigation__item {
  margin: 2rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1e212f;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  display: inline-block;
  background-color: #333;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 15rem 0;
  }
}

.section-features {
  position: relative;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(155, 188, 196, 0.8), rgba(30, 33, 47, 0.7)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 5rem 0;
  }
}

.section-story {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-story {
    padding: 5rem 0;
  }
}

.section-company {
  background-color: #f7f7f7;
  padding: 10rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #9bbcc4, #1e212f);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.footer {
  background-image: linear-gradient(to right bottom, #5f564d, #080705);
  padding: 0 0 10rem 0;
}

/*# sourceMappingURL=style.css.map */
