//COLORS
$color-primary: #6C65A4;
$color-primary-light: #9A95CA;
$color-primary-dark: #363268;

$color-secondary-light:#5f564d;
$color-secondary-dark: #080705;

$color-tertiary-light:#74573b;
$color-tertiary-dark: #32332e;

$color-ambient-blue-light: #9bbcc4;
$color-ambient-blue-dark: #1e212f;

$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: rgb(28, 28, 31);


//FONT
$default-font-size: 1.6rem;

//GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BORDER
$border-primary-radius: .8rem;