.card {
    -moz-perspective: 150rem;
    perspective: 150rem;
    height: 50rem;
    position: relative;

    &__side {
        font-size: $default-font-size;
        color: $color-grey-dark;
        height: 50rem;
        border-radius: 4rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
        backface-visibility: hidden;
        overflow: hidden;
        width: 100%;
        @include absolutePosition;
        transition: all .8s;


        &--front {
            background-color: $color-white;
        }

        &--back {
            background-color: $color-primary-light;
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, ($color-secondary-light, $color-secondary-dark));
            }

            &-2 {
                background-image: linear-gradient(to right bottom, ($color-tertiary-light, $color-tertiary-dark));
            }

            &-3 {
                background-image: linear-gradient(to right bottom, ($color-ambient-blue-light, $color-ambient-blue-dark));
            }
        }

    }


    &:hover &__side--front {
        transform: rotateY(180deg);
    }


    &:hover &__side--back {
        transform: rotateY(0deg);
    }


    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        border-bottom-left-radius: 4rem;
        height: 50rem;
        background-blend-mode: hue;
        object-fit: contain;
        width: 100%;

        &--main {
            height: 34rem;
            @include absolutePosition;
            z-index: 5;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 26% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100vh, 26% 100%);

            &-1 {
                background-image: url(/img/nat-5b.jpg);


            }

            &-2 {
                background-image: url(/img/nat-6b.jpg);
            }

            &-3 {
                background-image: url(/img/nat-7b.jpeg);
            }

        }


        &--mask {
            height: 30rem;
            @include absolutePosition;
            z-index: 10;



            &-1 {
                background-image: url(/img/nat-5b.jpg);


            }

            &-2 {
                background-image: url(/img/nat-6b.jpg);
            }


            &-3 {
                background-image: url(/img/nat-7b.jpeg);

            }



        }


    }

    &__mask {
        height: 5rem;
        width: 5rem;
        @include absolutePosition;
        top: 50%;
        background-color: $color-white;
        z-index: 3;
    }

    //TEXT BODY
    &__text {
        border-top-right-radius: 4rem;
        height: 20rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        z-index: 11;
        width: 100%;
        padding: 2rem 3rem;
        text-wrap: wrap;

        @include clearfix;

        &--heading {
            color: $color-black;
            font-size: 2.2rem;
            float: left;
        }

        &--rating {
            float: right;
            margin: 1rem 0;
            font-size: 1.5rem;
            margin: .7rem .1rem;


            .rating-score {
                display: inline-block;
                font-weight: 700;
            }

        }

        &--location {
            display: inline-block;
            padding: 1rem 0 3rem 0;
            width: 100%;
        }

        &--pricing {
            position: relative;

            &--price {
                color: $color-black;
                display: inline-block;
                font-size: 2rem;
            }

            &--paragraph {
                display: inline-block;
            }
        }

    }

    &__button {
        display: none;
        position: absolute;
        top: 0;
        right: -0.8rem;

        .button__popup {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 1rem;
        }

    }


    //MASK



    // ////////////////
    //BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    &__price-box {
        color: $color-white;
        text-align: center;
        margin-bottom: $gutter-vertical;
    }

    &__price-only {
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 500;

    }

    @include respond(tab-port) {
        height: auto;

        &__side {
            height: auto;
            position: relative;
            border-radius: 4rem;

            &--front {
                background-color: $color-white;
            }

            &--back {
                transform: rotateY(0deg);
            }
        }


        &:hover &__side--front {
            transform: rotateY(0deg);
        }

        &__button {
            display: inline-block;
        }
    }
}