.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -10vh;

    @include respond(tab-port) {
        padding: 15rem 0;
    }
}

.section-features {
    position: relative;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-ambient-blue-light, 0.8), rgba($color-ambient-blue-dark, 0.7)),
        url(../img/nat-4.jpg);
    background-size: cover;
    // transform: skewY(2deg);
    margin-top: -10rem;

    // &>* {
    //     transform: skewY(-2deg);
    // }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 5rem 0;
    }
}

.section-story {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.section-company {
    background-color: $color-grey-light-1;
    padding: 10rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-ambient-blue-light, $color-ambient-blue-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.footer {
    background-image: linear-gradient(to right bottom, ($color-secondary-light, $color-secondary-dark));
    padding: 0 0 10rem 0;
}